<?xml version="1.0" encoding="UTF-8"?>  
<beans  
    xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:p="http://www.springframework.org/schema/p"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="markBean" class="core.dependencyinjection.setterinjectionlists.Mark">
	<property name="marks" value="85"></property>
	<property name="subjectName" value="maths"></property>
</bean>
<bean id="markBean1" class="core.dependencyinjection.setterinjectionlists.Mark">
	<property name="marks" value="85"></property>
	<property name="subjectName" value="science"></property>
</bean>
<bean id="subjectBean" class="core.dependencyinjection.setterinjectionlists.Subject">
	<property name="name" value="Science"></property>
</bean>

<bean id="studentBean" class="core.dependencyinjection.setterinjectionlists.Student">
	<property name="studentId" value="AG061203"></property>
	<property name="studentName" value="chaitanya varma m"></property>
	<property name="subjects">
		<list>
			<value>Maths</value>
			<value>science</value>
			<value>social</value>
		</list>
	</property>
	<property name="marks">
	<list>
			<ref bean="markBean"></ref>
			<ref bean="markBean1"></ref>
	</list>
	</property>
	<property name="subMarks">
		<map>
			<entry key="maths" value-ref="markBean"></entry>
			<entry key="social" value-ref="markBean1"></entry>
		</map>
	</property>
</bean>
               
</beans>